In [1]:
import pandas as pd

In [2]:
day_to_sec = 86400

- pd.date_range 사용법

In [3]:
idx = pd.date_range('2023-01-01', periods=day_to_sec, freq='S')
print(idx)

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:00:01',
               '2023-01-01 00:00:02', '2023-01-01 00:00:03',
               '2023-01-01 00:00:04', '2023-01-01 00:00:05',
               '2023-01-01 00:00:06', '2023-01-01 00:00:07',
               '2023-01-01 00:00:08', '2023-01-01 00:00:09',
               ...
               '2023-01-01 23:59:50', '2023-01-01 23:59:51',
               '2023-01-01 23:59:52', '2023-01-01 23:59:53',
               '2023-01-01 23:59:54', '2023-01-01 23:59:55',
               '2023-01-01 23:59:56', '2023-01-01 23:59:57',
               '2023-01-01 23:59:58', '2023-01-01 23:59:59'],
              dtype='datetime64[ns]', length=86400, freq='S')

In [4]:
idx = pd.date_range('2023-01-01', periods=day_to_sec/60, freq='60S')
print(idx)

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:01:00',
               '2023-01-01 00:02:00', '2023-01-01 00:03:00',
               '2023-01-01 00:04:00', '2023-01-01 00:05:00',
               '2023-01-01 00:06:00', '2023-01-01 00:07:00',
               '2023-01-01 00:08:00', '2023-01-01 00:09:00',
               ...
               '2023-01-01 23:50:00', '2023-01-01 23:51:00',
               '2023-01-01 23:52:00', '2023-01-01 23:53:00',
               '2023-01-01 23:54:00', '2023-01-01 23:55:00',
               '2023-01-01 23:56:00', '2023-01-01 23:57:00',
               '2023-01-01 23:58:00', '2023-01-01 23:59:00'],
              dtype='datetime64[ns]', length=1440, freq='60S')

In [5]:
print(idx.shape)

(1440,)

- 데이터 처리 (통계 계산)

In [6]:
data_columns = ['data01', 'data02', 'data03', 'data04']

data_example = pd.DataFrame([[i, i * 2, i * i, 0] for i in range(idx.shape[0])], index=idx, columns=data_columns)
print(data_example)

                     data01  data02   data03  data04
2023-01-01 00:00:00       0       0        0       0
2023-01-01 00:01:00       1       2        1       0
2023-01-01 00:02:00       2       4        4       0
2023-01-01 00:03:00       3       6        9       0
2023-01-01 00:04:00       4       8       16       0
...                     ...     ...      ...     ...
2023-01-01 23:55:00    1435    2870  2059225       0
2023-01-01 23:56:00    1436    2872  2062096       0
2023-01-01 23:57:00    1437    2874  2064969       0
2023-01-01 23:58:00    1438    2876  2067844       0
2023-01-01 23:59:00    1439    2878  2070721       0

[1440 rows x 4 columns]

In [7]:
cond_isnull = data_example.isnull().values.any()
print(cond_isnull)

cond_isna = data_example.isna().values.any()
print(cond_isna)

cond_total = cond_isnull or cond_isna
print(cond_total)

False
False
False

시간 평균

In [8]:
data_hourly_mean01 = pd.DataFrame()
data_hourly_mean02 = pd.DataFrame()

In [9]:
data_hourly_mean01[data_columns] = data_example[data_columns].resample('60T').mean()
print(data_hourly_mean01)

                     data01  data02        data03  data04
2023-01-01 00:00:00    29.5    59.0  1.170167e+03     0.0
2023-01-01 01:00:00    89.5   179.0  8.310167e+03     0.0
2023-01-01 02:00:00   149.5   299.0  2.265017e+04     0.0
2023-01-01 03:00:00   209.5   419.0  4.419017e+04     0.0
2023-01-01 04:00:00   269.5   539.0  7.293017e+04     0.0
2023-01-01 05:00:00   329.5   659.0  1.088702e+05     0.0
2023-01-01 06:00:00   389.5   779.0  1.520102e+05     0.0
2023-01-01 07:00:00   449.5   899.0  2.023502e+05     0.0
2023-01-01 08:00:00   509.5  1019.0  2.598902e+05     0.0
2023-01-01 09:00:00   569.5  1139.0  3.246302e+05     0.0
2023-01-01 10:00:00   629.5  1259.0  3.965702e+05     0.0
2023-01-01 11:00:00   689.5  1379.0  4.757102e+05     0.0
2023-01-01 12:00:00   749.5  1499.0  5.620502e+05     0.0
2023-01-01 13:00:00   809.5  1619.0  6.555902e+05     0.0
2023-01-01 14:00:00   869.5  1739.0  7.563302e+05     0.0
2023-01-01 15:00:00   929.5  1859.0  8.642702e+05     0.0
2023-01-01 16:00:00   989.5  1979.0  9.794102e+05     0.0
2023-01-01 17:00:00  1049.5  2099.0  1.101750e+06     0.0
2023-01-01 18:00:00  1109.5  2219.0  1.231290e+06     0.0
2023-01-01 19:00:00  1169.5  2339.0  1.368030e+06     0.0
2023-01-01 20:00:00  1229.5  2459.0  1.511970e+06     0.0
2023-01-01 21:00:00  1289.5  2579.0  1.663110e+06     0.0
2023-01-01 22:00:00  1349.5  2699.0  1.821450e+06     0.0
2023-01-01 23:00:00  1409.5  2819.0  1.986990e+06     0.0

In [10]:
data_hourly_mean02[data_columns] = data_example[data_columns].resample('60T').sum()/60
print(data_hourly_mean02)

                     data01  data02        data03  data04
2023-01-01 00:00:00    29.5    59.0  1.170167e+03     0.0
2023-01-01 01:00:00    89.5   179.0  8.310167e+03     0.0
2023-01-01 02:00:00   149.5   299.0  2.265017e+04     0.0
2023-01-01 03:00:00   209.5   419.0  4.419017e+04     0.0
2023-01-01 04:00:00   269.5   539.0  7.293017e+04     0.0
2023-01-01 05:00:00   329.5   659.0  1.088702e+05     0.0
2023-01-01 06:00:00   389.5   779.0  1.520102e+05     0.0
2023-01-01 07:00:00   449.5   899.0  2.023502e+05     0.0
2023-01-01 08:00:00   509.5  1019.0  2.598902e+05     0.0
2023-01-01 09:00:00   569.5  1139.0  3.246302e+05     0.0
2023-01-01 10:00:00   629.5  1259.0  3.965702e+05     0.0
2023-01-01 11:00:00   689.5  1379.0  4.757102e+05     0.0
2023-01-01 12:00:00   749.5  1499.0  5.620502e+05     0.0
2023-01-01 13:00:00   809.5  1619.0  6.555902e+05     0.0
2023-01-01 14:00:00   869.5  1739.0  7.563302e+05     0.0
2023-01-01 15:00:00   929.5  1859.0  8.642702e+05     0.0
2023-01-01 16:00:00   989.5  1979.0  9.794102e+05     0.0
2023-01-01 17:00:00  1049.5  2099.0  1.101750e+06     0.0
2023-01-01 18:00:00  1109.5  2219.0  1.231290e+06     0.0
2023-01-01 19:00:00  1169.5  2339.0  1.368030e+06     0.0
2023-01-01 20:00:00  1229.5  2459.0  1.511970e+06     0.0
2023-01-01 21:00:00  1289.5  2579.0  1.663110e+06     0.0
2023-01-01 22:00:00  1349.5  2699.0  1.821450e+06     0.0
2023-01-01 23:00:00  1409.5  2819.0  1.986990e+06     0.0

연간 데이터

In [11]:
idx_year = pd.date_range('2023-01-01', '2023-12-31')
print(idx_year)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [12]:
print(idx_year[0])
print(idx_year[-1])

2023-01-01 00:00:00
2023-12-31 00:00:00

- 날짜 정보 문자열로 합치기

In [13]:
print(idx_year[0])

idx_str = str(idx_year[0])
idx_date = idx_str[0:4] + idx_str[5:7] + idx_str[8:10]
print(idx_date)

2023-01-01 00:00:00
20230101