In [1]:
import pandas as pd

In [2]:
day_to_sec = 86400

In [3]:
data_time_idx = pd.date_range(start='2023-01-01 00:00:00', end='2023-12-31 23:00:00', freq='1H')
print(data_time_idx)
print()
print(f"365 * 24 = {365*24}")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 01:00:00',
               '2023-01-01 02:00:00', '2023-01-01 03:00:00',
               '2023-01-01 04:00:00', '2023-01-01 05:00:00',
               '2023-01-01 06:00:00', '2023-01-01 07:00:00',
               '2023-01-01 08:00:00', '2023-01-01 09:00:00',
               ...
               '2023-12-31 14:00:00', '2023-12-31 15:00:00',
               '2023-12-31 16:00:00', '2023-12-31 17:00:00',
               '2023-12-31 18:00:00', '2023-12-31 19:00:00',
               '2023-12-31 20:00:00', '2023-12-31 21:00:00',
               '2023-12-31 22:00:00', '2023-12-31 23:00:00'],
              dtype='datetime64[ns]', length=8760, freq='H')

365 * 24 = 8760

In [4]:
data_columns = ['data01', 'data02', 'data03', 'data04']

data_example = pd.DataFrame([[i, i * 2, i * i, 0] for i in range(data_time_idx.shape[0])], index=data_time_idx, columns=data_columns)
print(data_example)

                     data01  data02    data03  data04
2023-01-01 00:00:00       0       0         0       0
2023-01-01 01:00:00       1       2         1       0
2023-01-01 02:00:00       2       4         4       0
2023-01-01 03:00:00       3       6         9       0
2023-01-01 04:00:00       4       8        16       0
...                     ...     ...       ...     ...
2023-12-31 19:00:00    8755   17510  76650025       0
2023-12-31 20:00:00    8756   17512  76667536       0
2023-12-31 21:00:00    8757   17514  76685049       0
2023-12-31 22:00:00    8758   17516  76702564       0
2023-12-31 23:00:00    8759   17518  76720081       0

[8760 rows x 4 columns]

In [5]:
working_hour = pd.DataFrame()
working_hour['start'] = ['2023-01-01 09:00:00']
working_hour['end'] = ['2023-01-01 18:00:00']

working_hour['start'] = pd.to_datetime(working_hour['start'], errors='coerce')
working_hour['end'] = pd.to_datetime(working_hour['end'], errors='coerce')

working_hour['net'] = working_hour['end'] - working_hour['start']
print(working_hour)

                start                 end             net
0 2023-01-01 09:00:00 2023-01-01 18:00:00 0 days 09:00:00

In [11]:
# closed    ~ 1.4.0
# inclusive   1.4.0 ~
idx = pd.date_range(start=working_hour['start'][0], end=working_hour['end'][0], freq='1H', inclusive='left')
print(idx)

DatetimeIndex(['2023-01-01 09:00:00', '2023-01-01 10:00:00',
               '2023-01-01 11:00:00', '2023-01-01 12:00:00',
               '2023-01-01 13:00:00', '2023-01-01 14:00:00',
               '2023-01-01 15:00:00', '2023-01-01 16:00:00',
               '2023-01-01 17:00:00'],
              dtype='datetime64[ns]', freq='H')

In [7]:
data_example['data04'].loc[idx] = 1

In [8]:
print(data_example)

                     data01  data02    data03  data04
2023-01-01 00:00:00       0       0         0       0
2023-01-01 01:00:00       1       2         1       0
2023-01-01 02:00:00       2       4         4       0
2023-01-01 03:00:00       3       6         9       0
2023-01-01 04:00:00       4       8        16       0
...                     ...     ...       ...     ...
2023-12-31 19:00:00    8755   17510  76650025       0
2023-12-31 20:00:00    8756   17512  76667536       0
2023-12-31 21:00:00    8757   17514  76685049       0
2023-12-31 22:00:00    8758   17516  76702564       0
2023-12-31 23:00:00    8759   17518  76720081       0

[8760 rows x 4 columns]

In [9]:
for hidx in data_example.index:
    if hidx not in idx:
        data_example['data04'].loc[hidx] = 2

In [10]:
print(data_example)

                     data01  data02    data03  data04
2023-01-01 00:00:00       0       0         0       2
2023-01-01 01:00:00       1       2         1       2
2023-01-01 02:00:00       2       4         4       2
2023-01-01 03:00:00       3       6         9       2
2023-01-01 04:00:00       4       8        16       2
...                     ...     ...       ...     ...
2023-12-31 19:00:00    8755   17510  76650025       2
2023-12-31 20:00:00    8756   17512  76667536       2
2023-12-31 21:00:00    8757   17514  76685049       2
2023-12-31 22:00:00    8758   17516  76702564       2
2023-12-31 23:00:00    8759   17518  76720081       2

[8760 rows x 4 columns]