In [1]:
import pandas as pd

In [2]:
file_path = "sample_groupby.csv"
xlsx_data = pd.read_csv(file_path)

In [5]:
print(xlsx_data)

   type     value
0     A  0.849879
1     B  0.748148
2     C  0.486729
3     A  0.410857
4     B  0.253102
5     C  0.499774
6     A  0.544474
7     B  0.825557
8     C  0.247176
9     A  0.030023
10    B  0.362822
11    C  0.850469
12    A  0.887696
13    B  0.949626
14    C  0.177815
15    A  0.378727
16    B  0.229702
17    C  0.593233

In [6]:
print(xlsx_data.columns)

Index(['type', 'value'], dtype='object')

In [7]:
type_list = ['A', 'B', 'C']
df_value = pd.DataFrame()
for t in type_list:
    type_value = xlsx_data[xlsx_data['type'] == t]
    df_value[t] = type_value.iloc[:, 1]

print(df_value)

           A   B   C
0   0.849879 NaN NaN
3   0.410857 NaN NaN
6   0.544474 NaN NaN
9   0.030023 NaN NaN
12  0.887696 NaN NaN
15  0.378727 NaN NaN

In [8]:
type_list = ['A', 'B', 'C']
df_value = pd.DataFrame()
for t in type_list:
    type_value = xlsx_data[xlsx_data['type'] == t]
    df_value[t] = type_value.iloc[:, 1].values

print(df_value)

          A         B         C
0  0.849879  0.748148  0.486729
1  0.410857  0.253102  0.499774
2  0.544474  0.825557  0.247176
3  0.030023  0.362822  0.850469
4  0.887696  0.949626  0.177815
5  0.378727  0.229702  0.593233

In [9]:
type_list = ['A', 'B', 'C']
df_value = pd.DataFrame()
for t in type_list:
    type_value = xlsx_data[xlsx_data['type'] == t]
    df_value[t] = type_value['value'].values

print(df_value)

          A         B         C
0  0.849879  0.748148  0.486729
1  0.410857  0.253102  0.499774
2  0.544474  0.825557  0.247176
3  0.030023  0.362822  0.850469
4  0.887696  0.949626  0.177815
5  0.378727  0.229702  0.593233