In [1]:
import pandas as pd

In [2]:
file_path = "sample_groupby.xlsx"
xlsx_data = pd.read_excel(file_path, engine='openpyxl')

In [3]:
print(xlsx_data.columns)

Index(['type', 'value'], dtype='object')

In [4]:
type_list = ['A', 'B', 'C']
df_value = pd.DataFrame()
for t in type_list:
    type_value = xlsx_data[xlsx_data['type'] == t]
    df_value[t] = type_value['value'].values

In [5]:
df_value

          A         B         C
0  0.849879  0.748148  0.486729
1  0.410857  0.253102  0.499774
2  0.544474  0.825557  0.247176
3  0.030023  0.362822  0.850469
4  0.887696  0.949626  0.177815
5  0.378727  0.229702  0.593233